@use '../tools/vars/colors';
.btn {
  padding-block: 13px;
  inline-size: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-blue);
  color: #fff;
  text-transform: uppercase;
}
