:root {
  --dark-blue: #310a90;
  --just-white: #fff;
  --soft-purple: #747de9;
  --soft-aqua: #72edf2;
  --soft-blue: #5151e5;
  --gradient: linear-gradient(to right, #72edf2, #5151e5 90%);
  //   --gradient: radial-gradient(
  //       41.48% 11.48% at 2.38% 8.52%,
  //       #747de9 0%,
  //       rgba(255, 255, 255, 0) 100%
  //     ),
  //     linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
}
