:root {
  --dark-blue: #310a90;
  --just-white: #fff;
  --soft-purple: #747de9;
  --soft-aqua: #72edf2;
  --soft-blue: #5151e5;
  --gradient: linear-gradient(to right, #72edf2, #5151e5 90%);
}

.header {
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  background-color: #fff;
}

.header-content {
  margin-inline: 16px;
  margin-block: 16px;
}
.header-content span {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.list {
  position: fixed;
  inset-block-start: 10%;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-inline: 16px;
  padding-block: 40px;
  clip-path: circle(10% at 87% 10%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.list__item {
  margin-block-end: 21px;
}
.list__item a {
  text-transform: uppercase;
}
.list.active {
  clip-path: circle(75%);
  visibility: visible;
  transition: clip-path 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .list {
    position: initial;
    clip-path: circle(100%);
    visibility: visible;
    padding-block: 10px;
  }
  .list__item {
    display: inline-block;
    padding-inline: 40px;
    margin: 0;
  }
}

.icon-menu {
  position: relative;
  inline-size: 34px;
  block-size: 34px;
}
.icon-menu.active .line {
  background-color: transparent;
}
.icon-menu.active .line::before {
  inset-block-start: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.icon-menu.active .line::after {
  inset-block-end: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.line {
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 4px;
  background-color: #000;
  transform: translatey(-50%);
}
.line::before {
  content: "";
  position: absolute;
  inset-block-start: -200%;
  inline-size: 100%;
  block-size: 4px;
  background-color: #000;
}
.line::after {
  content: "";
  position: absolute;
  inset-block-end: -200%;
  inline-size: 100%;
  block-size: 4px;
  background-color: #000;
}

.btn {
  padding-block: 13px;
  inline-size: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-blue);
  color: #fff;
  text-transform: uppercase;
}

.hero-content {
  margin-inline: 16px;
  padding-block-start: 80px;
  padding-block-end: 16px;
  color: var(--dark-blue);
}
.hero-content__description h1 {
  margin-block: 16px;
}
.hero-content__description span {
  font-size: 24px;
  display: block;
}
.hero-content__description span + span {
  font-size: 48px;
}
.hero-content__description p {
  margin-block: 16px;
}
@media screen and (min-width: 1024px) {
  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 115px;
    padding-block: 180px;
  }
  .hero-content__description {
    grid-column: 1/2;
    grid-row: 1/1;
    align-self: center;
  }
  .hero-content__description span + span {
    font-size: 59px;
    line-height: 99px;
  }
  .hero-content__description button {
    inline-size: 255px;
  }
  .hero-content__image {
    grid-column: 2/3;
  }
}

.feed-social {
  margin-block-start: 16px;
  margin-block-end: 40px;
}
.feed-social li {
  display: inline-block;
  box-sizing: border-box;
  inline-size: 44px;
  block-size: 44px;
  padding: 10px;
  margin-inline-end: 16px;
  border: 2px solid var(--dark-blue);
  border-radius: 4px;
  background-color: var(--just-white);
}

.about-section-content {
  margin-inline: 16px;
  padding-block-start: 40px;
  text-align: center;
}
.about-section-content svg {
  stroke: var(--dark-blue);
  fill: var(--dark-blue);
  inline-size: 80px;
  block-size: 80px;
}
.about-section-content h2 {
  margin-block: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}
.about-section-content p {
  font-size: 24px;
  line-height: 38px;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .about-section-content {
    padding-block: 120px;
    padding-inline: 150px;
  }
  .about-section-content h2 {
    font-size: 34px;
    line-height: 55px;
    font-weight: 300;
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--gradient) center/cover no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-inline-size: 100%;
}

.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
